{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method = 'POST' action = "{% url 'profile_update' %}" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Profile Update</span></h5>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Profile Picture</label>
                            <input type="file" class="form-control" name = 'profile_pic'>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name = 'first_name' value = {{user.first_name}}>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name = 'last_name' value = {{user.last_name}}>
                        </div>
                    </div>

                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" readonly name = 'email_id' value = {{user.email}}>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" readonly name = 'username' value = {{user.username}}>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" class="form-control"
                                placeholder='Fill only if you wants to update Password..' name = 'password' >
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}