{% extends "base.html" %}
{% block content %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Add Students</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="#">Students</a></li>
               <li class="breadcrumb-item active">Add Students</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form method='POST' action="{% url 'add_student' %}" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="col-12"> 
                     <h5 class="form-title"><span>Add Student</span></h5>
                  </div>

                  {% include 'include/message.html' %}
                  <div class="row">
                     <div class="col-12">
                        <h5 class="form-title"><span>Student Information</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Username</label>
                           <input type="text" class="form-control" name='username' required >
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Profile Picture</label>
                           <input type="file" class="form-control" name='profile_pic' required >
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>First Name</label>
                           <input type="text" class="form-control"name='first_name' required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Last Name</label>
                           <input type="text" class="form-control" name='last_name' required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Email Address</label>
                           <input type="email" class="form-control" name='email' required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Mobile Number</label>
                           <input type="Number" class="form-control" name='mobile_number' required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Registration No.</label>
                           <input type="Number" class="form-control"name='registration' required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Roll No.</label>
                           <input type="text" class="form-control"name='roll'>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Department</label>
                           <select class="form-control" name='course_id' required>
                              <option>Select Department</option>
                              {% for i in course %}
                              <option value="{{i.id}}"> {{i.name}} </option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Semester</label>
                           <select class="form-control" name='session_year_id' required>
                              <option>Select Semester</option>
                              {% for i in session_year %}
                              <option value="{{i.id}}"> {{i.semester}} </option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Gender</label>
                           <select class="form-control" name='gender' required>
                              <option>Select Gender</option>
                              <option value='/Female'>Female</option>
                              <option value='/Male'>Male</option>
                              <option value='/Other'>Others</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Date of Birth</label>
                           <div>
                              <input type="date" class="form-control" name='dob'>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Password</label>
                           <input type="text" class="form-control" placeholder='Password..' name='password' required>
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group" >
                           <label>Present Address</label>
                           <textarea class="form-control" name='address'></textarea>
                        </div>
                     </div>
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add Student</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
